<div class="row">
    <div ng-hide="loggedIn()" class="small-12 columns small-centered text-center">
        <p>
            Alle studenter ved Westerdals Oslo School of Art, Communication and Technology disponerer en konto hos
            Google.
            <br> <br>På neste skjermbilde vil du se en oversikt over dine google kontoer. Hvis skolekontoen
            ikke er å finne i listen, <br>velg legg til, fyll inn skolemail og tilhørende passord. Om du ikke har
            blitt tildelt skolemail og tilhørende passord, <br>ta kontakt med administrasjonen/helpdesk.
        </p>
        <button ng-click="login()" class="button medium radius">Logg inn med Google</button>
    </div>
    <button class="button medium alert" ng-show="loggedIn()" ng-click="logout()">Logout</button>
</div>
