<div ng-controller="FileUploadController">
    <div class="small-12 small-centered columns">
        <div ng-model="progress">
            <div ng-if="progress" class="progress [radius round]">
                <span class="meter" style="width: {{progress}}%"></span>
            </div>
        </div>
    </div>
    <div class="small-12 medium-6 large-8 columns">
        <div ngf-drop ngf-select ng-model="image" class="drop-box margin-bottom-25"
             ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false"
             ngf-accept="'.jpg,.png'">Trykk her<br>
            Eller dra en fil hit for å laste opp</div>
    </div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

    <div class="small-12 medium-6 large-4 columns" ng-model="$parent.image">
        <img ng-src="{{$parent.image.url}}" src="">
    </div>
    <div class="row" ng-model="image">
        {{error}}
    </div>
</div>