<div class="row">
    <div class="medium-10 columns medium-centered text-center">
        <div class="medium-6 columns small-centered">
            <img class="profile-photo" ng-src="{{user.pictureUrl}}" alt="" />
            <br/><br/>
            <div data-alert class="alert-box info radius">
                Bruk gravatar.com til å endre profilbilde. Lag deg en bruker der med din @student.westerdals.no-mail, og legg til profilbilde.
                Da skal profilbilde ditt oppdateres her.
                <a href="#" class="close">&times;</a>
            </div>
        </div>
        <br /><br />
        <h1>{{user.name}}</h1>


        <h5><em>{{user.email}}</em></h5>
    </div>
</div>

<div class="row text-center">
    <br /><br />
    <br>
    <div class="small-12 columns text-center">
        <button ng-click="logout()" class="button small">Logg ut</button>
    </div>
</div>

<div class="row">
    <div class="medium-12 medium-centered columns utvalg-content-placement">
        <div class="row">
            <br />
            <div class="small-4 columns">
                <div class="line lineright"></div>
            </div>
            <div class="small-4 columns text-center">
                <h5><strong>Oversikt<br /><br /></strong></h5>
            </div>

            <div class="small-4 columns">
                <div class="line lineleft"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-4 columns text-center">
        <p><strong>Utvalg jeg er medlem av</strong></p>

        <div class="bold-line"></div>
        <small>Denne funksjonen kommer!</small>
        <ul class="no-bullet">
            <!--
            @if(!user.getMemberships.isEmpty) {
            @for(membership <- user.getMemberships) {
            @if(membership.getLevel.getLevel > 0) {
            <li><a href="@routes.Clubs.show(membership.getClub.getId)">@membership.getClub.getName</a></li>
            }
            }
            } else {
            <li>Du er ikke medlem av noen utvalg</li>
            }
            -->
        </ul>
    </div>
    <div class="medium-4 columns text-center">
        <p><strong>Utvalg jeg abonnerer på</strong></p>

        <div class="bold-line"></div>
        <small>Denne funksjonen kommer!</small>
        <ul class="no-bullet">
            <!--
            @if(!user.getMemberships.isEmpty) {
            @for(membership <- user.getMemberships) {
            @if(membership.getLevel.getLevel == 0) {
            <li><a href="@routes.Clubs.show(membership.getClub.getId)">@membership.getClub.getName</a></li>
            }
            }
            } else {
            <li>Du abonnerer ikke på noen utvalg</li>
            }
            -->
        </ul>
    </div>
    <div class="medium-4 columns text-center">
        <p><strong>Kommende eventer</strong></p>

        <div id="bold-line"></div>
        <small>Denne funksjonen kommer!</small>
        <ul class="no-bullet">
            <!--
            @if(!user.getParticipations.isEmpty) {
            @for(participation <- user.getParticipations) {
            @if(participation.getRvsp) {
            <li><a href="@routes.Events.show(participation.getEvent.getId)">@(participation.getEvent.getName)</a></li>
            }
            }
            } else {
            <li>Du er ikke påmeldt noen kommende eventer</li>
            }
            -->
        </ul>
    </div>
</div>

<!--@if(admin) {
<div class="row">
    <div class="medium-8 columns medium-centered hide-for-medium-up">
        <div data-alert class="alert-box warning round">
            Vi kan dessverre ikke garantere at admin-panelet fungerer på mobile enheter.
            <a href="#" class="close">&times;</a>
        </div>
    </div>
</div>
}
-->

<div class="row" ng-show="roles.length" ng-init="findRoles()">
    <div class="medium-12 columns">
        <div class="medium-12 columns">
            <ul class="pricing-table">
                <li class="title">Administrator</li>
                <li class="bullet-item">Du har spesielle tillatelser.</li>
                <li class="cta-button"><a class="button" href="/#!/admin">
                    Administrer nettsiden</a></li>

            </ul>
        </div>
        <!--
        @if(admin) {
        <div class="medium-12 columns">
            <ul class="pricing-table">
                <li class="title">Administrator</li>
                <li class="bullet-item">Du har tilgang til å administrere nettsiden.</li>
                <li class="cta-button"><a class="button" href="@routes.Administration.showSite()">
                    Administrer nettsiden</a></li>

            </ul>
        </div>
        }
        @for(membership <- user.getMemberships) {
        @if(membership.getLevel.getLevel >= MembershipLevel.BOARD.getLevel) {
        <div class="medium-12 columns">
            <ul class="pricing-table">
                <li class="title">@membership.getLevel.getTitle</li>
                <li class="price">@membership.getClub.getName</li>
                <li class="bullet-item">@membership.getClub.getNumberOfMembers medlemmer</li>
                <li class="cta-button"><a class="button" href="@routes.Administration.showClub(membership.getClub.getId)">
                    Administrer</a></li>
            </ul>
        </div>
        }
        }
        -->
    </div>
</div>

<div class="row">
    <div class="small-12 columns text-center">
        Bruk av nettportalen er dekket av <a href="#">brukervilkårene</a>.
    </div>
</div>