<form class="columns">
    <div class="medium-6 columns">
        <label class="small-12 columns">Tittel
            <input type="text" ng-model="event.title">
        </label>

        <div class="small-12 columns">
            <label>
                Sted
                <input type="text" ng-model="event.place"/>
            </label>
        </div>

        <div class="medium-12 columns">
            <ul class="tabs" data-tab role="tablist">
                <li class="tab-title" ng-class="{active: !preview}" role="presentation"><a href=""
                                                                                           ng-click="previewMd()"
                                                                                           role="tab" tabindex="0"
                                                                                           aria-selected="false">Tekst</a>
                </li>
                <li class="tab-title" ng-class="{active: preview}" role="presentation"><a href="" ng-click="previewMd()"
                                                                                          role="tab" tabindex="0"
                                                                                          aria-selected="false">Forhåndsvisning</a>
                </li>
            </ul>

            <br/>
            <hr/>
            <div ng-hide="preview">
                <textarea id="text" rows="12" placeholder="Full beskrivelse (markdown støttet)"
                          ng-model="event.description"></textarea>
            </div>
            <div ng-show="preview">
                <div btf-markdown="event.description"></div>
            </div>
        </div>
    </div>
    <div class="medium-6 columns">
        <label class="small-12 columns">Tidspunkt<span ng-show="event.dateTime">: {{event.dateTime | date:'yyyy-MM-dd HH:mm' }}</span>
            <datetimepicker ng-model="event.dateTime"

                            data-on-set-time="onTimeSet(newDate)"></datetimepicker>

        </label>
    </div>

    <div ng-controller="InitiationSchedulesController" class="small-12 columns">
        <div ng-show="schedules.length > 0">
            <label class="medium-6 columns">Legg til fadderordninger
                <select ng-model="schedule"
                        ng-options="schedule.location.name for schedule in schedules track by schedule.id"></select>
            </label>

            <div class="medium-3 columns">
                <button class="button" ng-click="addScheduleToEvent(schedule)">Legg til</button>
            </div>
            <div class="medium-3 columns">
                <div ng-repeat="schedule in event.schedules" class="panel">
                    <p class="small-12 columns">
                        {{schedule.location.name}}
                    </p>
                    <button class="button alert" ng-click="removeScheduleFromEvent(schedule)">Fjern</button>
                </div>
            </div>
        </div>
        <div ng-hide="schedules.length > 0">
            <strong>Det finnes ingen fadderordninger å legge til eventen i!</strong>
        </div>
    </div>
    <ng-include
            src="'/views/file/upload.html'">

    </ng-include>

    <button class="button success" ng-hide="event.id" ng-click="createEvent()">Opprett event</button>
    <button class="button warn" ng-show="event.id" ng-click="createEvent()">Oppdater</button>
    <button class="button alert" ng-show="event.id" ng-click="deleteEvent()">Slett</button>
</form>