<div class="row">
    <div class="large-12 columns small-centered">
        <img height="200px" ng-src="{{event.pictureUrl}}" src=""/>
        <br /><br /><br />
    </div>

    <!-- DATE -->
    <div class="large-2 columns text-left paragraph-date">
        <h5> {{event.dateTime | date:'dd-MM-yyyy, HH:mm' }}</h5>
    </div>

    <!-- TEXT -->
    <div class="large-10 columns">
        <!-- HEADER -->
        <h3>{{event.title}}</h3>

        <!-- PARAGRAPH -->
        <div btf-markdown="event.description">
        </div>

        <!--
        @if(loggedIn) {
        @eventbutton(event, false)
        }
        -->
    </div>
</div>


<!--
<div class="row">
    <div class="medium-12 medium-centered columns utvalg-content-placement">
        <div class="row">
            <br />
            <div class="small-4 columns">
                <div id="line" class="right lineright"></div>
            </div>
            <div class="small-4 columns text-center">
                <h5><strong>Deltakere<br /><br /></strong></h5>
            </div>

            <div class="small-4 columns">
                <div id="line" class="line lineleft"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-10 columns small-centered">

        <div class="medium-5 columns">

            <div class="text-center">
                <p><strong>Skal</strong></p>
            </div>

            <div id="bold-line"></div>

            <ul class="small-block-grid-5 medium-block-grid-4 large-block-grid-5">
                @for(part <- event.getParticipants) {
                @if(part.getRvsp) {
                <li class="skal-bilder"><a href="@routes.Users.show(part.getUser.getId)"><span data-tooltip class="has-tip tip-top radius" title="@(part.getUser.getFirstName + " " + part.getUser.getLastName)" ><img src="@part.getUser.getPictureUrl" alt="" /></span></a></li>
                }
                }
            </ul>

        </div>

        <div class="medium-5 columns text-center right">
            <p><strong>Skal ikke</strong></p>

            <div class="bold-line"></div>

            <ul class="small-block-grid-5 medium-block-grid-4 large-block-grid-5">
                @for(part <- event.getParticipants) {
                @if(!part.getRvsp) {
                <li class="skal-bilder"><a href="@routes.Users.show(part.getUser.getId)"><span data-tooltip class="has-tip tip-top radius" title="@(part.getUser.getFirstName + " " + part.getUser.getLastName)"><img src="@part.getUser.getPictureUrl" alt="" /></span></a></li>
                }
                }
            </ul>

        </div>
    </div>
</div>
-->
