<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <base href="/"/>
    <script src="/assets/js/app.js"></script>
    <link media="screen" rel="stylesheet" href="/assets/styles/main.css"/>
</head>
<body ng-app="action" ng-controller="AuthenticationController">
<div class="row">
    <div class="small-12 columns show-for-medium-up backgroundimagelarge">
        <img src="/assets/images/header.jpg"/>

        <a href="/">
            <div class="headercircle-large text-center show-for-large-up">
                <h3 class="headertext">Westerdals <br/> Oslo ACT </h3>

                <div class="line-separator-bubble line-separator-mid-bubble"></div>
                <h5 class="headertext">Studentsamfunns <br/>portal</h5>
            </div>

            <div class="headercircle-medium text-center show-for-medium-only">
                <h3 class="headertext">Westerdals <br/> Oslo ACT </h3>

                <div class="line-separator-bubble line-separator-mid-bubble"></div>
                <h5 class="headertext">Studentsamfunns <br/>portal</h5>
            </div>
        </a>

        <div id="bildetext-header">
            <p>Bilde: Westerdals kompetanse</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 columns hide-for-medium-up">
        <img id="backgroundimagesmall" src="/assets/images/header.jpg"/>

        <a href="/">
            <div class="headercircle-small text-center hide-for-medium-up">
                <h3 class="headertext">Westerdals<br/> Oslo ACT</h3>

                <div id="line-separator-bubble" class="line-separator-mid-bubble"></div>
                <h6 class="headertext">Studentsamfunns <br/> portal</h6>
            </div>
        </a>

        <div id="bildetext-header-small">
            <p>Bilde: Westerdals kompetanse</p>
        </div>
    </div>
</div>


<div class="row text-center hide-for-medium-up buttonpanel ">

    <div class="small-12 columns">
        <ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-4 text-center">
            <li><a class="headertext" href="/#!/feed">Feed </a></li>
            <li><a class="headertext" href="/events">Eventer </a></li>
            <li><a class="headertext" href="/#!/initiation">Fadderuke </a></li>
            <li><a class="headertext" href="/clubs">Utvalg </a></li>
            <li ng-show="loggedIn === false"><a class="headertext" href="/#!/authenticate">Login </a></li>
            <li ng-show="loggedIn === true"><a class="headertext" href="/#!/me">Profil </a></li>

        </ul>

    </div>


</div>


<div id="header" class="show-for-medium-up"></div>

<div class="buttonpanellarge row text-center show-for-medium-up">

    <div class="medium-9 medium-centered columns">
        <ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-4 text-center">
            <li><a class="headertext" href="/#!/feed">Feed </a></li>
            <li><a class="headertext" href="/events">Eventer </a></li>
            <li><a class="headertext" href="/#!/initiation">Fadderuke </a></li>
            <li>
                <a class="headertext" ng-show="loggedIn === false" href="/#!/authenticate">Login </a>
                <a class="headertext" ng-show="loggedIn === true" href="/#!/me">Profil </a>
            </li>

        </ul>
    </div>

</div>

<div class="row">
    <br/>

    <div class="small-4 columns">
        <div class="line lineright"></div>
    </div>
    <div class="small-4 columns text-center show-for-medium-up">
        <h4><strong>{{title}}<br/> <br/></strong></h4>
    </div>
    <div class="small-4 columns text-center hide-for-medium-up">
        <h4><strong id="alt-title">{{title}}<br/> <br/></strong></h4>
    </div>
    <div class="small-4 columns">
        <div class="line lineleft"></div>
    </div>
</div>


<div class="row" ng-view="">

</div>

<div class="push"></div>
<footer>
    <div class="row">
        <br/>

        <div class="small-3 columns">
            <div class="line lineright"></div>
        </div>
        <div class="small-6 columns text-center">
            <h6 class="footer-text">Artifakt under utvikling. ©2014 #SWACT<br/></h6>
        </div>
        <div class="small-3 columns">
            <div class="line lineleft"></div>
        </div>
    </div>
</footer>

</body>
</html>
